# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Model or Dataset files (optional)
*.h5
*.pt
*.pkl
*.csv
*.json

# Environment files
.env

/Dataset